<h1>About</h1>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-6">
        <img src="<%= image_url("99kittens.png")%>" class="img-responsive center-block">
        <p class="voffset4 text-center">An American company.</p>
        <p class="text-center" style="font-size: 12px; margin-top: -10px;">(Kittens made in China.)</p>
      </div>
      <div class="col-xs-6">
        <p>99Kittens was started two years ago by one pioneering cat-lover. It all began when attempting to order prescription drugs from China, he found himself having been charged $239.99 for a box full of kittens. Lots of kittens. With no return address.</p>
        <p>(Basically, he decided to turn it into a money-grab.)</p>
      </div>

    </div>
  </div>

  <div class="row text-center">
    <h1>Meet the Team</h1>
    <br>
    <div class="col-md-3">
      <img src="http://placekitten.com/g/377/422" alt="Sidney" class="img-circle" width=225px height=225px>
      <legend>
        <eh class="titlepage" style="font-size: 36px;">Sidney</eh><br>
        <em>Marketing</em>
      </legend>
      <p>Loves lacrosse and picking up chicks.</p>
    </div>
    <div class="col-md-3">
      <img src="http://placekitten.com/g/480/450" alt="Alfonso" class="img-circle" width=225px height=225px>
      <legend>
        <eh class="titlepage" style="font-size: 36px;">Alfonso</eh><br>
        <em>Lead Developer</em>
      </legend>
      <p>We can't understand a thing this guy says. But we like his accent.</p>
    </div>
    <div class="col-md-3">
      <img src="http://placekitten.com/g/366/426" alt="Ralph" class="img-circle" width=225px height=225px>
      <legend>
        <eh class="titlepage" style="font-size: 36px;">Ralph</eh><br>
        <em>CEO</em>
      </legend>
      <p>He went missing four days ago.<br>If you find Ralph, please call us.<br>He's white, gluten-intolerant, loves dressing up in velour.<br></p>
    </div>
    <div class="col-md-3">
      <img src="http://31.media.tumblr.com/avatar_3e3c3172fde4_128.png" alt="Haseeb" class="img-circle" width=225px height=225px>
      <legend>
        <eh class="titlepage" style="font-size: 36px;">Haseeb</eh><br>
        <em>Advisor</em>
      </legend>
      <p>Some guy.</p>
    </div>
  </div>
</div>
