<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <img src="<%= image_url("99kittens.png")%>" class="img-responsive center-block">
        <p class="voffset4 text-center"><small>An American company.</small></p>
        <p class="text-center" style="margin-top: -10px;"><small class="tiny">(Kittens made in China.)</small></p>
      </div>
      <div class="col-sm-6 col-xs-12">
        <p><small>99Kittens was started two years ago by one cat-loving developer. It began when instead of receiving usual delivery of Chinese prescription drugs, he found on his doorstep a box full of kittens. Lots of kittens. With a Cantonese return address.</small></p>
        <p><small>The rest is history.</small></p>
        <small class="tiny">(We have no idea how this got venture-backed.)</small>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <h1>Meet the Team</h1>
    <br>
    <div class="col-md-3">
      <img src="http://placekitten.com/g/480/450" alt="Alfonso" class="img-circle" width=225px height=225px>
      <legend>
        <eh class="cutetext name_header">Balázs</eh><br>
        <em>Lead Developer</em>
      </legend>
      <p>He yells at us and drinks a lot. We can't understand a thing he says.</p>
    </div>
    <div class="col-md-3">
      <img src="http://placekitten.com/g/377/422" alt="Sidney" class="img-circle" width=225px height=225px>
      <legend>
        <eh class="cutetext name_header">Sidney</eh><br>
        <em>Marketing/Sales</em>
      </legend>
      <p>Loves craft beers, college football, and yarn.</p>
    </div>
    <div class="col-md-3">
      <img src="http://placekitten.com/g/366/426" alt="Ralph" class="img-circle" width=225px height=225px>
      <legend>
        <eh class="cutetext name_header">Ralph</eh><br>
        <em>CEO</em>
      </legend>
      <p>He went missing four days ago.<br>If you find Ralph, please call us.<br>You'll know it's him because he'll be dressed up in velour.<br></p>
    </div>
    <div class="col-md-3">
      <img src="http://31.media.tumblr.com/avatar_3e3c3172fde4_128.png" alt="Haseeb" class="img-circle desaturate" width=225px height=225px>
      <legend>
        <eh class="cutetext name_header">Haseeb</eh><br>
        <em>Founder</em>
      </legend>
      <p>Some weirdo.</p>
    </div>
  </div>
</div>
