<style>
  body {
    background: url(<%= image_url("kitten-yarn-cmpr.jpg") %>) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .container {
    padding-top: 20px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  h1 {
    font-weight: 400;
    font-size: 40px;
  }
</style>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
      <h1 class="voffset9 text-center titlepage">We have kittens.</h1>
      <h1 class="text-center voffset5 titlepage">You are lonely.</h1>
      <p class="text-center voffset4 lead titlepage">
        <a href="<%= cats_url %>" class="btn btn-lg btn-info">Give us money.</a>
      </p>
      <div class="voffset7 text-center">
        <small style="font-size: 14px; color:black; text-shadow: white 0.1em 0.1em 0.4em;">Created, coded, and designed by <a href="http://github.com/Haseeb-Qureshi">Haseeb Qureshi</a>.</small>
      </div>
  </div>
</div>
