<% if flash[:errors] %>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <%= (flash[:errors].is_a?(Array) ? flash[:errors].join(". ") : flash[:errors]) + '.' %>
    </div>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="alert alert-info alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>
