<header>
  <ul class=nav>
  <% if current_user.nil? %>
    <li><%= link_to "Log in", new_session_url %></li>
    <li><%= link_to "Register", new_user_url %></li>
  <% else %>
    <li><%= link_to "Log out", session_url, method: :delete %></li>
  <% end %>
  </ul>
</header>
