/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 $grid-float-breakpoint: 768px;
 @import "bootstrap";
 @import url(http://fonts.googleapis.com/css?family=Roboto);
 @import url(http://fonts.googleapis.com/css?family=Indie+Flower);

h1.titlepage {
  font-family: 'Indie Flower', cursive;
}

body {
  font-family: 'Roboto', sans-serif;
}

img.cats {
  padding: 10px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

label {
  padding: 3px;
}

input {
  margin-left: 5px;
}

footer.links {
  padding-left: 60px;
}

div.errors {
  padding: 20px;
}

div.approvals {
  padding: 0 0 0 52px;
}

form.button_to {
  padding: 2px;
}

span.errors {
  color: red;
  font-style: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 10px solid #FFC6B8;
  background: #FFC6B8;
}

img.logo {
  max-width: 100px;
  margin-top: 7px; 
  margin-left: 15px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }
