<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:errors] %>
  <%= flash[:errors].join(". ") %>
<% end %>

<%= yield %>

</body>
</html>
